<% layout("/layouts/boilerplate") -%>
<%=success %>
<body>
    <h3>All Listings</h3>
    
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of alllistings){%>
             <a href="/listings/<%=listing._id %>" class="listingdecor">
                <div class="card col" style="width: 18rem;">
                    <img class="card-img-top" src="<%=listing.image.url %>" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"><%=listing.title %></p>
                      <p><%=listing.price %></p>
                    </div>
                  </div> 
             </a>
            
       
    
      <%}%>
      <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
</body>